.dart_tool/
build/
packages
.packages

analysis_options.yaml

.git/
.gitignore
.idea/
.vscode/
*.swp

*.log
*.tmp

Dockerfile
docker-compose.yml

*.g.dart
*.freezed.dart
*.md

test/
doc/
example/

./storage

